/* ==============Header Styles goes Here=========== */
.header-section {
  /* padding: 1rem; */
  border: 1px solid red;
  padding: 1rem 5%;
}

.header-container .togglebar {
  display: inline-block;
  cursor: pointer;
  padding: 6px 14px;
}

/* ===============Navbar  Styles============= */
.navbar-container .flex-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 5%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1040;
}
.navbar-container .flex-container-2 > * {
  /* border: 1px solid red; */
  margin-bottom: 0;
}
.navbar-container .flex-container-2 > *:first-child {
  flex-basis: 172px;
}
.navbar-container .flex-container-2 > *:first-child a {
  padding: 0;
}
.navbar-container .flex-container-2 > *:last-child {
  margin-left: auto;
  flex-basis: auto;
  /* position: relative; */
}

/* ===============Menu  Styles============= */
.navbar-container .nav-menu {
  border: 1px solid green;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 1020;
  /* display: none; */
}
.navbar-container .active {
  /* display: none; */
  height: 0;
  top: 0;
  width: 0;
  opacity: 0;
  transition: height 0.2s ease;
  overflow: hidden;
}
.menu-container .list-menu a {
  text-align: center;
  color: #3a8d97;
  font-weight: 700;
  font-size: 1rem;
}
.menu-container .list-menu a.get-started {
  background: #3a8d97;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  margin: auto;
}

/* ===================
Desktop Device
===================== */
@media (min-width: 980px) {
  /* ==============Header Styles goes Here=========== */
  .header-section {
    padding: 1.4rem 8%;
  }
  .header-container .togglebar {
    display: none;
  }
  /* ===============Navbar  Styles============= */

  .navbar-container .flex-container-2 > *:first-child {
    flex-basis: 217px;
  }

  /* ===============Menu  Styles============= */
  .navbar-container .nav-menu {
    border: 1px solid green;
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 1060;
  }
  .navbar-container .active {
    height: auto;
    top: auto;
    width: auto;
    opacity: 1;
    transition: initial;
    overflow: auto;
  }
  .menu-container .list-menu {
    display: flex;
    flex-flow: row wrap;
  }
}

/* ===================
Large Device
======================*/
@media (min-width: 1200px) {
  /* ==============Header Styles goes Here=========== */

  /* ===============Navbar  Styles============= */
  .navbar-container .flex-container-2 > *:first-child {
    flex-basis: 272px;
  }

  /* ===============Menu  Styles============= */
  .menu-container .list-menu {
    gap: 0.8rem;
  }
}
