.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  color: #4caf50; /* Color of the progress bar */
  font-size: 0.45rem;
  width: 75%;
}

.progress-bar::-webkit-progress-bar {
  background-color: #eee; /* Background of the bar */
  border-radius: 25px;
}

.progress-bar::-webkit-progress-value {
  background-color: #4caf50; /* Progress color */
  border-radius: 25px;
}

.progress-bar::-moz-progress-bar {
  background-color: #4caf50; /* Progress color for Firefox */
}
